#searchbox {
    background-color: lightblue;
    height: vh;
}

img {
    padding:0px;
    height: 200px;
    width: 100px;
    border: none;
    margin: 0;
    border: none;
}
.card {
    width: 100%;
}

.alert {
    display: none;
    position: absolute;
    left: 200px
}